/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.prettierrc
key.pem
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
/etc
.vagrant
/node_modules
.idea/
.DS_Store
.env
composer.lock