<table>
    <tr>
        <td>
            <img src="vistas carro.jpg">
        </td>
        <td style="vertical-align: top; padding-top: 50px; padding-left: 20px;">
            <img src="indicador_combustible.jpg" style="height: 100px;">
        </td>
    </tr>
    <tr>
        <td>
            <table>

            </table>
        </td>
        <td>
            <table>
                <thead><tr><td colspan="2" style="text-align: center;">ACCESORIOS ADICIONALES</td></tr></thead>
                <tbody>
                    <tr><td style="width: 200px;">BOTIQUIN</td>       <td style="width: 50px;"></td></tr>
                    <tr><td>EXTINTOR</td>       <td></td></tr>
                    <tr><td>TRIANGULO</td>      <td></td></tr>
                    <tr><td>CABLE BATERIA</td>  <td></td></tr>
                    <tr><td>CABLE REMOLQUE</td> <td></td></tr>
                    <tr><td>LLAVEROS</td>       <td></td></tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%;">
                <thead><tr><td>Observaciones</td></tr></thead>
                <tbody><tr><td></td></tr></tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">
                        TERMINOS LEGALES:
                        <ul>
                            <li>En caso la facturación sea al crédito, se deberá presentar la documentación solicitada por el área de finanzas.</li>
                            <li>Cuando el cliente no cumpla con pagar la obligación asumida por lo trabajos realizados, el vehículo permanecerá en el Centro de Servicio hasta que se realice el pago correspondiente.</li>
                            <li>Las fechas estimadas de entrega pueden variar dependiendo de la disponibilidad de repuestos y eventuales trabajos adicionales. En ningún caso, el cliente tendrá la potestad de reclamar el pago de indemnización por daños y perjuicios bajo esta circunstancia.</li>
                            <li>Toda reparación será cancelada en caja, antes de la entrega del vehículo. En caso de no retirarlo dentro de los dos (2) días útiles siguientes contados a partir de la fecha de haber recibido notificación de recojo o del presupuesto sin autorización de trabajo, se cobrará treinta (S/30.00) soles diarios por concepto de guardianía.</li>
                            <li>El cliente autoriza expresamente a la Empresa a hacer uso y realizar tratamiento de los datos personales que le proporcione el envío de anuncios u ofertas comerciales, comercialización de productos y servicios, transferencia de datos personales entre las empresas de Motorium Group.</li>
                        </ul>
                    </td>
                    <td style="vertical-align: top;">
                        <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                            <tr align="center">
                                <td style="padding-left: 10px; padding-right: 10px;"><div style="border: solid;">Cliente que deja la unidad</div></td>
                                <td style="padding-left: 10px; padding-right: 10px;"><div style="border: solid;">Asesor de servicio</div></td>
                                <td style="padding-left: 10px; padding-right: 10px;"><div style="border: solid;">Cliente que recoge la unidad</div></td>
                            </tr>
                            <tr style="margin: 0;">
                                <td style="padding-left: 10px; padding-right: 10px;"><div style="border: solid; height: 100px;"></div></td>
                                <td style="padding-left: 10px; padding-right: 10px;"><div style="border: solid; height: 100px;"></div></td>
                                <td style="padding-left: 10px; padding-right: 10px;"><div style="border: solid; height: 100px;"></div></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 10px; padding-right: 10px;">
                                    <div style="border: solid; padding-right: 10px;">
                                        Nombre:<br>
                                        D.N.I:<br>
                                        Fecha y hora:<br>
                                    </div>
                                </td>
                                <td style="padding-left: 10px; padding-right: 10px;"><div style="border: solid; height: 54px;">Nombre:</div></td>
                                <td style="padding-left: 10px; padding-right: 10px;">
                                    <div style="border: solid; padding-right: 10px;">
                                        Nombre:<br>
                                        D.N.I:<br>
                                        Fecha y hora:<br>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        
    </tr>
</table>