<table style="font-size:13px; width:100%">
    <tr>
        <td style="width: 70%;">&nbsp;</td>
        <td style="width: 20%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 70%;">
        a
        </td>
        <td style="vertical-align: top; width: 20%; border: solid">
        a
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <table>
                <thead><tr><th colspan="2" style="text-align: center;">ACCESORIOS ADICIONALES</th></tr></thead>
                <tbody>
                    <tr><th align="left" style="width: 200px;">BOTIQUIN</th>       <td style="width: 50px;"></td></tr>
                    <tr><th align="left">EXTINTOR</th>       <td></td></tr>
                    <tr><th align="left">TRIANGULO</th>      <td></td></tr>
                    <tr><th align="left">CABLE BATERIA</th>  <td></td></tr>
                    <tr><th align="left">CABLE REMOLQUE</th> <td></td></tr>
                    <tr><th align="left">LLAVEROS</th>       <td></td></tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%;">
                <thead><tr><td>Observaciones</td></tr></thead>
                <tbody style="border:solid"><tr><td style="height: 50px"></td></tr></tbody>
            </table>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr><td colspan="2" style="height: 20px"></td></tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 40%; font-size: 11px">
                        TERMINOS LEGALES:
                        <ul>
                            <li>En caso la facturación sea al crédito, se deberá presentar la documentación solicitada por el área de finanzas.</li>
                            <li>Cuando el cliente no cumpla con pagar la obligación asumida por lo trabajos realizados, el vehículo permanecerá en el Centro de Servicio hasta que se realice el pago correspondiente.</li>
                            <li>Las fechas estimadas de entrega pueden variar dependiendo de la disponibilidad de repuestos y eventuales trabajos adicionales. En ningún caso, el cliente tendrá la potestad de reclamar el pago de indemnización por daños y perjuicios bajo esta circunstancia.</li>
                            <li>Toda reparación será cancelada en caja, antes de la entrega del vehículo. En caso de no retirarlo dentro de los dos (2) días útiles siguientes contados a partir de la fecha de haber recibido notificación de recojo o del presupuesto sin autorización de trabajo, se cobrará treinta (S/30.00) soles diarios por concepto de guardianía.</li>
                            <li>El cliente autoriza expresamente a la Empresa a hacer uso y realizar tratamiento de los datos personales que le proporcione el envío de anuncios u ofertas comerciales, comercialización de productos y servicios, transferencia de datos personales entre las empresas de Motorium Group.</li>
                        </ul>
                    </td>
                    <td style="width: 60%; vertical-align: top; font-size: 11px">
                        <table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                            <tr>
                                <td style="width: 10px">&nbsp;</td>
                                <td style="width: 10px">&nbsp;</td>
                                <td style="width: 1px">&nbsp;</td>
                                <td style="width: 8px">&nbsp;</td>
                                <td style="width: 8px">&nbsp;</td>
                            </tr>
                            <tr align="center">
                                <td colspan="2" style="border: solid;">Cliente que deja la unidad</td>
                                <td>&nbsp;</td>
                                <td colspan="2" style="border: solid;">Asesor de servicio</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border: solid; height: 50px;"></td>
                                <td>&nbsp;</td>
                                <td colspan="2" style="border: solid; height: 50px;"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border: solid;  height: 50px;">
                                    Nombre:<br>
                                    D.N.I:<br>
                                    Fecha y hora:<br>
                                </td>
                                <td>&nbsp;</td>
                                <td colspan="2" style="border: solid; height: 50px; vertical-align: top;">Nombre:</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>