<table style="width: 100%;">
    <tr>
        <td align="left">
            <div><img src="logo web.png" style="height: 85px;"></div>
        </td>
        <td align="center">
            <div style="display: inline-block; border-style: solid; border-width: 2px; padding: 10px;">
                <div>ORDEN DE TRABAJO</div>
                <div>642</div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%;">
                <tr>
                    <td>Placa: placa</td>
                    <td>Año Fabri.:</td>
                </tr>
                <tr>
                    <td>Motor: placa</td>
                    <td>Fecha Venta: xx/xx/xx</td>
                </tr>
                <tr>
                    <td>VIN: vin</td>
                    <td>KM Recor.: kilometraje</td>
                </tr>
            </table>
        </td>
        <td>
            <table style="width: 100%;">
                <tr><td>Cliente</td>    <td>NOMBRE</td>         <td>RUC - DNI</td>  <td>RUC DNI</td></tr>
                <tr><td>Telefono</td>   <td>TELEFONO</td>       <td>Correo</td>  <td>CORREO</td></tr>
                <tr><td>Dirección</td>  <td colspan="3">DIRECCION</td></tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 100%;">
                <tr><td>Marca</td>          <td>MARCA</td></tr>
                <tr><td>Modelo</td>         <td>MODELO</td></tr>
                <tr><td>Color</td>          <td>COLOR</td></tr>
                <tr><td>CIA. SEGUROS</td>   <td>CIA SEGUROS</td></tr>
            </table>
        </td>
        <td>
            <table style="width: 100%;">
                <tr><td>Tipo O.T.</td>  <td>TIPO</td></tr>
                <tr><td>Asesor</td>     <td>ASESOR</td></tr>
                <tr><td>Teléfono</td>   <td>000000000</td></tr>
                <tr><td>Email</td>      <td>xxxxxxx@xxxxxx.xxx</td></tr>
                <tr><td>Fec. Ing.</td>  <td>xx/xx/xx</td></tr>
                <tr><td>Hor. Ing.</td>  <td>xx:xx</td></tr>
            </table>
        </td>
    </tr>
</table>

<table style="width: 100%;">
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>DESCRIPCIÓN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>codigo</td>
            <td>NOMBRE SERVICIO</td>
        </tr>
    </tbody>
</table>

<table style="margin-top: 50px;">
    <tr>
        <th style="padding: 20px">Observaciones</th>
        <td style="padding: 20px">OBSERVACIONES AQUI</td>
    </tr>
</table>