<head>
<style>
    .all-bordered{
        border-spacing: 0;
        border-collapse: collapse;
    }

    .all-bordered td{
        border: solid;
    }

    .all-bordered th{
        border: solid;
    }
</style>
</head>

<body>
<table class="all-bordered" style="width: 100%;">
    <tr><th style="border: none" colspan="6" align="center">PRE-LIQUIDACION DE OT</th></tr>
    <tr align="left"><th>Centro Servicio</th>   <td>CENTRO SERVICIO</td>    <th>O.T.</th>   <td>NRO OT</td>             <th>Fec. Emisión</th>   <td>xx/xx/xx</td></tr>
    <tr align="left"><th>Tipo de Orden</th>     <td>TIPO OT</td>            <th>Asesor</th> <td colspan="3">ASESOR</td></tr>
    
    <tr class="rotulo-tabla" align="left"><th colspan="6">CLIENTE</th></tr>
    <tr align="left"><th>Nombre</th>     <td colspan="3">NOMBRE COMPLETO</td>       <th>Doc.Ident</th>  <td>DNI/RUC</td></tr>
    <tr align="left"><th>Direccion</th>  <td colspan="3">DIRECCION COMPLETO</td>    <th>Teléfono</th>   <td>TELEFONO</td></tr>
    <tr align="left"><th>Email</th>     <td colspan="5">CORREO COMPLETO</td></tr>

    <tr class="rotulo-tabla" align="left"><th colspan="6">VEHICULO</th></tr>
    <tr align="left"><th>Placa</th>             <td>XXX-XXX</td>        <th>MOTOR</th>      <td>ASDNFPIWENFQP</td>      <th>VIN</th>  <td>ASDNFPIWENFQP</td></tr>
    <tr align="left"><th>Marca/Modelo</th>      <td>MARCA MODELO</td>   <th>Color</th>      <td colspan="3">COLOR</td></tr>
    <tr align="left"><th>Año Fabricación</th>   <td>xxxx</td>           <th>Kilometraje</th><td colspan="3">312412</td></tr>
<table>

<table class="all-bordered" style="width: 100%; margin-top: 50px">
    <thead>
        <tr><th class="rotulo-tabla" colspan="7">SERVICIOS</th></tr>
        <tr><th>Codigo</th> <th>Descripción</th>    <th>Cant</th>   <th>Precio Lista</th>   <th>Descuento</th>  <th>Precio Unitario</th>    <th>Precio Venta</th></tr>
    </thead>
    <tbody>
        <tr align="center">
            <td>CODXXX</td>
            <td>DESCRIPCION COMPLETA</td>
            <td>XX</td>
            <td align="right">XX.XX</td>
            <td align="right">XX.XX</td>
            <td align="right">XX.XX</td>
            <td align="right">XX.XX</td>
        </tr>
    </tbody>
    <tfoot>
        <tr align="center"><td colspan="5" style="border: none"></td>   <th>TOTAL</th>  <td align="right">XXX.XX</td></tr>
    </tfoot>
</table>


<table class="all-bordered" style="width: 100%; margin-top: 50px">
    <thead>
        <tr><th class="rotulo-tabla" colspan="8">REPUESTOS</td></tr>
        <tr>
            <th>Codigo</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Unidad Medida</th>
            <th>Precio Lista Total</th>
            <th>Descuento Total</th>
            <th>Precio Venta Unitario</th>
            <th>Precio Venta Total</th>
        </tr>
    </thead>
    <tbody>
        <tr align="center">
            <td>CODXXX</td>
            <td>DESCRIPCION COMPLETA</td>
            <td>XX</td>
            <td>UND</td>
            <td align="right">XX.XX</td>
            <td align="right">XX.XX</td>
            <td align="right">XX.XX</td>
            <td align="right">XX.XX</td>
        </tr>
    </tbody>
    <tfoot>
        <tr align="center"><td colspan="6" style="border: none"></td>   <th>TOTAL</th>  <td align="right">XXX.XX</td></tr>
    </tfoot>
</table>

<table class="all-bordered" style="width: 100%; margin-top: 50px">
    <tr>
        <td style="width: 45%; border: none"></td>
        <th style="width: 30%;">TOTAL LIQUIDACION</th>
        <th>S/.</th>
        <th align="right">XXX.XX</th>
    </tr>
</table>


<table class="all-bordered" style="width: 100%;  margin-top: 20px">
    <tr align="center">
        <th>Valor Venta S/.</th>
        <td>XXX.XX</td>
        <th>I.G.V S/.</th>
        <td>XXX.XX</td>
        <th>Precio Venta S/.</th>
        <td>XXX.XX</td>
    </tr>
</table>
</body>